<!-- Modální dialog pro zobrazení informací o obrázku -->
<div class="modal modal-dialog-scrollable fade" id="documentShowModal" tabindex="-1" aria-labelledby="documentShowModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Detaily dokumentu</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- Dynamic data -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
            </div>

        </div>

    </div>

</div>
