<!-- Stacking Toast -->
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">

</div>
<!-- end::Stacking Toast -->

<!-- Success Toast šablona (skrytá) -->
<div id="toastSuccess" class="toast" role="alert" aria-live="assertive" data-bs-autohide="true" aria-atomic="true"
    data-bs-delay="5000" style="display: none;">
    <div class="toast-header text-white bg-success">
        <i class="mdi mdi-information-outline"></i>
        <strong class="ms-2 me-auto letter-spacing-1"></strong>
        <small>právě teď</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
</div>

<!-- Danger Toast šablona (skrytá) -->
<div id="toastDanger" class="toast" role="alert" aria-live="assertive" data-bs-autohide="true" aria-atomic="true"
    data-bs-delay="5000" style="display: none;">
    <div class="toast-header text-white bg-danger">
        <i class="fa-solid fa-exclamation-triangle fa-fw"></i>
        <strong class="ms-2 me-auto letter-spacing-1"></strong>
        <small>právě teď</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
</div>

<!-- Warning Toast šablona (skrytá) -->
<div id="toastWarning" class="toast" role="alert" aria-live="assertive" data-bs-autohide="true" aria-atomic="true"
    data-bs-delay="5000" style="display: none;">
    <div class="toast-header text-dark bg-warning">
        <i class="fa-solid fa-exclamation-circle fa-fw"></i>
        <strong class="ms-2 me-auto letter-spacing-1"></strong>
        <small>právě teď</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
</div>