<div>
    <button id="show-grid" class="btn btn-light btn-sm"><i class="mdi mdi-view-grid"></i></button>
    <button id="show-table" class="btn btn-primary btn-sm"><i class="mdi mdi-view-list"></i></button>
</div>

<!--

<div id="grid-view" class="d-none">
    ...
</div>

<div id="table-view" class="d-block">
    ...
</div>
-->