<div class="col-12">
	<div class="d-flex justify-content-between align-items-center">
		<h1 class="mb-0">{% if app.user.userUserContact.ciName is defined %}{{ app.user.userUserContact.ciName }}{% else %}firma{% endif %}</h1>
		<p class="mb-0">hodnocení</p>
	</div>
	<hr>
</div>